.title{
    font-family: "Oswald", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 1em;
}
.task_square {
    border: 1px double black;
    margin-right: 1%;
    height: 209px;
    font-size: 14px;
    margin-bottom: 1%;
    box-sizing: border-box;
}
a{
    color: rgb(0, 0, 0);
    text-decoration-color: currentcolor;
    background-color:transparent;
cursor:pointer;}
a:active, a:hover {
  outline: none;
    color: rgb(0, 0, 0);
    text-decoration-color: currentcolor;
    background-color:transparent;
text-decoration: none}
a p,h2{
    cursor:pointer;
}

.resolved{

    background-color: greenyellow;
}
/*a{
    color: rgb(66, 155, 230);
    text-decoration-color: currentcolor;
    background-color:transparent;}
a:active, a:focus {
  outline: none;
}*/