{% extends "base.html" %}

{% block head_top %}
<title>{{page.title}}</title>
{% endblock %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content %}
<main class="container">
    <h2 class="title">{{page.title}}</h2>


    <div class="content">
    {{page.body|safe}}
    </div>
</main>

{% endblock %}